body {
    font-family: Arial, sans-serif;
    background-color: #f0eded;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #f9a600;
    padding: 40px;
    border-radius: 10px;
    
}